@use './config/global.scss' as *;

.article {
    &-header {
        margin-top: $space-11;

        .header {
            &-category {
                font-size: $font-size-2;
            }

            &-title {
                margin: $space-7 auto $space-4;
            }
        }
    }

    &-main {
        .article {
            &-subtitle {
                margin: $space-1 0 $space-7;
            }
    
            &-datetime {
                position: relative;
                font-size: $font-size-2;
                padding: $space-1 0;
                margin-bottom: $space-10;
                background-color: rgba($color: $color-2, $alpha: 0.1);
    
                time {
                    margin-right: $space-9;
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 10px;
                        background-color: $main-color;
                    }
                }
            }

            &-body {
                p {
                    font-size: $font-size-4;
                }

                h3 {
                    font-size: $font-size-1;
                }

                .suggested-stories {
                    margin-bottom: $space-4;

                    .story-card {
                        &:hover {
                            p {
                                text-decoration: underline;
                                color: $color-2;
                            }
                        }

                        .custom {
                            position: relative;

                            p {
                                position: absolute;
                                top: 50%;
                                font-size: $font-size-2;
                                font-weight: bold;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                .keyword {
                    font-size: $font-size-4;
                    padding: $space-1 $space-9;
                    background-color: $color-4;
                }
            }

            &-comments {
                margin-bottom: $space-9;

                .button {
                    @include button();
                    font-size: $font-size-4;
                    margin-top: $space-9;
                }

                .comment {
                    &-textarea {
                        display: block;
                        width: 100%;
                        padding: $space-1;
                        border: $border-1;
                        border-radius: $radius-2;
                    }

                    &-card {
                        margin-top: $space-9;

                        .comment-text {
                            padding: $space-2;
                            border-radius: $radius-1;
                            background-color: $color-4;
                            position: relative;
                            margin-top: 15px;
                            margin-right: -15px;

                            &::before {
                                @include arrow($color-4, none, $transform-2);
                                top: 15px;
                                right: -10px;
                            }

                            span {
                                font-size: $font-size-3;
                                font-weight: bold;
                                margin-bottom: $space-9;
                            }

                            p {
                                font-size: $font-size-3;
                            }
                        }

                        .user-photo {
                            img {
                                clip-path: circle();
                            }
                        }
                    }
                }
            }

            &-related {
                .button {
                    @include button();
                    font-size: $font-size-4;
                    margin-top: $space-9;
                }
            }
        }
    }
}

.most-read {
    &-article {
        position: relative;
        margin-top: $space-9;
    }

    &-text {
        position: absolute;
        padding: $space-1;
        bottom: 0;
        right: 0;
        background-color: rgba($color: $color-2, $alpha: 0.5);
        color: $color-3;
        width: 100%;

        h4.article-title {
            display: block;
            font-size: $font-size-4;
            color: $color-3;
        }
    }
}

@media (max-width: 1200px) {
    .most-read {
        &-text {
            h4.article-title {
                font-size: $font-size-6;
            }
        }
    }
}

@media (max-width: 992px) {
    .article {
        &-related {
            h5.article-title {
                font-size: $font-size-8;
            }
        }
    }
}

@media (max-width: 768px) {
    .article {
        &-header {
            .header {
                &-category {
                    font-size: $font-size-6;
                }

                &-title {
                    h2 {
                        font-size: $font-size-9;
                    }
                }
            }
        }

        &-main {
            .article {
                &-datetime {
                    padding: $space-6;

                    time {
                        font-size: $font-size-6;
                    }
                }

                &-body {
                    iframe {
                        height: $layout-7;
                        width: $layout-8;
                    }
                }

                &-comments {
                    .comment {
                        &-card {
                            .comment-text {
                                span {
                                    font-size: $font-size-6;
                                }

                                p {
                                    font-size: $font-size-5;
                                }
                            }
                        }
                    }
                }

                &-related {
                    .custom {
                        margin-bottom: $space-2;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .article {
        &-main {
            .article {
                &-body {
                    p {
                        font-size: $font-size-3;
                    }

                    .keyword {
                        font-size: $font-size-3;
                        padding: $space-1 $space-2;
                    }

                    .suggested-stories {
                        margin-bottom: $space-2;

                        .story-card {
                            margin-top: $space-2 !important;

                            .custom {
                                p {
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}