// Colors

$main-color: #B80000;
$color-1: #B1AEAE;
$color-2: #000;
$color-3: #fff;
$color-4: #F0F0F0;

// Margins & padding spaces

$space-1: 10px;
$space-2: 20px;
$space-3: 15px;
$space-4: 50px;
$space-5: 70px;
$space-6: 5px;
$space-7: 30px;
$space-8: 35px;
$space-9: 25px;
$space-10: 40px;

// Width & height spaces

$layout-1: 250px;
$layout-2: 80px;
$layout-3: 20px;
$layout-4: 170px;
$layout-5: 50px;
$layout-6: 40px;

// Font Sizes

$font-size-1: 30px;
$font-size-2: 20px;
$font-size-3: 18px;
$font-size-4: 22px;
$font-size-5: 14px;
$font-size-6: 16px;
$font-size-7: 60px;
$font-size-8: 12px;

// Radiuses

$radius-1: 10px;

// Transitions

$transition-1: all 0.5s ease;

// Borders

$border-1: 1px solid $color-1;